In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pprint import pprint as pp
import csv
import datetime
from dateutil.parser import parse
from pandas.tools.plotting import scatter_matrix
from patsy import dmatrices
import statsmodels.formula.api as smf
from sklearn import cross_validation
from sklearn import datasets
from sklearn import svm
import seaborn as sns
import statsmodels.api as sm
import matplotlib as mpl
from numpy.random import randn
from scipy import stats
from pprint import pprint as pp
from sklearn.cross_validation import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import urllib2

%matplotlib inline

sns.set_palette("deep", desat=.8)
sns.set_context(rc={"figure.figsize": (14, 8)})

In [3]:
url           = "https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/new.data"

newrl         = urllib2.urlopen(url)
newdata_df            = pd.read_csv(newrl, header=-1)

newdata_df.head()

                          0
0  1 15943882 63 1 -9 -9 -9
1  -27 1 145 1 233 -9 50 20
2        1 0 1 2 2 3 1981 0
3       0 0 0 0 1 10.5 6 13
4  150 60 190 90 145 85 0 0

In [6]:
cleve_url = "https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/processed.cleveland.data"
newrl = urllib2.urlopen(cleve_url)
cleve_df = pd.read_csv(newrl, header=-1)
cleve_df.head()

   0   1   2    3    4   5   6    7   8    9   10   11   12  13
0  63   1   1  145  233   1   2  150   0  2.3   3  0.0  6.0   0
1  67   1   4  160  286   0   2  108   1  1.5   2  3.0  3.0   2
2  67   1   4  120  229   0   2  129   1  2.6   2  2.0  7.0   1
3  37   1   3  130  250   0   0  187   0  3.5   3  0.0  3.0   0
4  41   0   2  130  204   0   2  172   0  1.4   1  0.0  3.0   0

In [9]:
cleve_url = "https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/cleveland.data"
newrl = urllib2.urlopen(cleve_url)
cleve_df = pd.read_csv(newrl, header=None)
# cleve_df = read_table(newrl, index_col=[0,1,2])
cleve_df.head()

                          0
0         1 0 63 1 -9 -9 -9
1   -9 1 145 1 233 -9 50 20
2         1 -9 1 2 2 3 81 0
3       0 0 0 0 1 10.5 6 13
4  150 60 190 90 145 85 0 0