In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pprint import pprint as pp
import csv
import datetime
from dateutil.parser import parse
from pandas.tools.plotting import scatter_matrix
from patsy import dmatrices
import statsmodels.formula.api as smf
from sklearn import cross_validation
from sklearn import datasets
from sklearn import svm
import seaborn as sns
import statsmodels.api as sm
import matplotlib as mpl
from numpy.random import randn
from scipy import stats
from pprint import pprint as pp
from sklearn.cross_validation import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import urllib2
from pandas import Series
from pandas import merge, concat
%matplotlib inline

sns.set_palette("deep", desat=.8)
sns.set_context(rc={"figure.figsize": (14, 8)})

In [2]:
url           = "https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/cleveland.data"

newrl         = urllib2.urlopen(url)
newdata_df    = pd.read_csv(newrl, header=-1)

newdata_df.head()

                          0
0         1 0 63 1 -9 -9 -9
1   -9 1 145 1 233 -9 50 20
2         1 -9 1 2 2 3 81 0
3       0 0 0 0 1 10.5 6 13
4  150 60 190 90 145 85 0 0

In [15]:
cleve_url = "https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/cleveland.data"
newrl = urllib2.urlopen(cleve_url)
colus = list(range(1,15))
cleve_df = pd.read_csv("switz.data", header=None, delimiter="name\n")
# id_data = cleve_df[0].str.strip("[]").str.split(",").tolist()
# df_id = pd.DataFrame(id_data, columns=colus, index=cleve_df.index, dtype=int)
# cleve_df = cleve_df.join(df_id)
cleve_df.columns = ["name"]
r1 = cleve_df[0::10]
r2 = cleve_df[1::10]
r3 = cleve_df[2::10]
r4 = cleve_df[3::10]
r5 = cleve_df[4::10]
r6 = cleve_df[5::10]
r7 = cleve_df[6::10]
r8 = cleve_df[7::10]
r9 = cleve_df[8::10]
r10 = cleve_df[9::10]
# cleve_df

In [9]:
cleve_url = "https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/cleveland.data"
newrl = urllib2.urlopen(cleve_url)
cleve_df = pd.read_csv(newrl, header=None)
# cleve_df = read_table(newrl, index_col=[0,1,2])
cleve_df.head()

                          0
0         1 0 63 1 -9 -9 -9
1   -9 1 145 1 233 -9 50 20
2         1 -9 1 2 2 3 81 0
3       0 0 0 0 1 10.5 6 13
4  150 60 190 90 145 85 0 0

In [30]:
df = pd.read_csv("data.csv")
df.head()

,id,ccf,age,sex,painloc,painexer,relrest,pncaden,cp,trestbps,...,om2,rcaprox,rcadist,lvx1,lvx2,lvx3,lvx4,lvf,cathef,junk
0,1254,0,40,1,1,0,0,-9,2,140,...,-9,-9,-9,1,1,1,1,1,-9,-9
1,1255,0,49,0,1,0,0,-9,3,160,...,-9,-9,-9,1,1,1,1,1,-9,-9
2,1256,0,37,1,1,0,0,-9,2,130,...,-9,-9,-9,1,1,1,1,1,-9,-9
3,1257,0,48,0,1,1,1,-9,4,138,...,-9,2,-9,1,1,1,1,1,-9,-9
4,1258,0,54,1,1,0,1,-9,3,150,...,-9,1,-9,1,1,1,1,1,-9,-9

In [31]:
df.dtypes

id          int64
ccf         int64
age         int64
sex         int64
painloc     int64
painexer    int64
relrest     int64
pncaden     int64
cp          int64
trestbps    int64
htn         int64
chol        int64
smoke       int64
cigs        int64
years       int64
...
laddist      int64
diag         int64
cxmain       int64
ramus        int64
om1          int64
om2          int64
rcaprox      int64
rcadist      int64
lvx1         int64
lvx2         int64
lvx3         int64
lvx4         int64
lvf          int64
cathef     float64
junk       float64
Length: 75, dtype: object

In [29]:
# df["painexer"] = df["painexer"].astype(int)
df["painexer"]

0     0
1     0
2     0
3     1
4     0
5     0
6     1
7     0
8     1
9     0
10    0
11    0
12    0
13    1
14    0
...
682   -9
683   -9
684   -9
685   -9
686   -9
687   -9
688   -9
689   -9
690   -9
691   -9
692   -9
693   -9
694   -9
695   -9
696   -9
Name: painexer, Length: 697, dtype: int64