In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pprint import pprint as pp
import csv
import datetime
from dateutil.parser import parse
from pandas.tools.plotting import scatter_matrix
from patsy import dmatrices
import statsmodels.formula.api as smf
from sklearn import cross_validation
from sklearn import datasets
from sklearn import svm
import seaborn as sns
import statsmodels.api as sm
import matplotlib as mpl
from numpy.random import randn
from scipy import stats
from pprint import pprint as pp
from sklearn.cross_validation import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import urllib2
from pandas import Series
from pandas import merge, concat
%matplotlib inline

sns.set_palette("deep", desat=.8)
sns.set_context(rc={"figure.figsize": (14, 8)})

In [2]:
url           = "https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/cleveland.data"

newrl         = urllib2.urlopen(url)
newdata_df    = pd.read_csv(newrl, header=-1)

newdata_df.head()

                          0
0         1 0 63 1 -9 -9 -9
1   -9 1 145 1 233 -9 50 20
2         1 -9 1 2 2 3 81 0
3       0 0 0 0 1 10.5 6 13
4  150 60 190 90 145 85 0 0

In [9]:
cleve_url = "https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/cleveland.data"
newrl = urllib2.urlopen(cleve_url)
colus = list(range(1,15))
cleve_df = pd.read_csv("switz.data", header=None, delimiter="name\n")
# id_data = cleve_df[0].str.strip("[]").str.split(",").tolist()
# df_id = pd.DataFrame(id_data, columns=colus, index=cleve_df.index, dtype=int)
# cleve_df = cleve_df.join(df_id)
cleve_df.columns = ["name"]
r1 = cleve_df[0::10]
r2 = cleve_df[1::10]
r3 = cleve_df[2::10]
r4 = cleve_df[3::10]
r5 = cleve_df[4::10]
r6 = cleve_df[5::10]
r7 = cleve_df[6::10]
r8 = cleve_df[7::10]
r9 = cleve_df[8::10]
r10 = cleve_df[9::10]
# cleve_df

In [4]:
cleve_url = "https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/cleveland.data"
newrl = urllib2.urlopen(cleve_url)
cleve_df = pd.read_csv(newrl, header=None)
# cleve_df = read_table(newrl, index_col=[0,1,2])
cleve_df.head()

                          0
0         1 0 63 1 -9 -9 -9
1   -9 1 145 1 233 -9 50 20
2         1 -9 1 2 2 3 81 0
3       0 0 0 0 1 10.5 6 13
4  150 60 190 90 145 85 0 0

In [43]:
tdf = pd.read_csv("data.csv")
tdf = tdf.replace(-9, np.nan)
tdf = tdf.fillna(tdf.mean())
tdf.head()

,id,ccf,age,sex,painloc,painexer,relrest,pncaden,cp,trestbps,...,om2,rcaprox,rcadist,lvx1,lvx2,lvx3,lvx4,lvf,cathef,junk
0,1254,0,40,1,1,0,0,NaN,2,140,...,1.09375,1.30989,1.202326,1,1,1,1,1,63.223881,NaN
1,1255,0,49,0,1,0,0,NaN,3,160,...,1.09375,1.30989,1.202326,1,1,1,1,1,63.223881,NaN
2,1256,0,37,1,1,0,0,NaN,2,130,...,1.09375,1.30989,1.202326,1,1,1,1,1,63.223881,NaN
3,1257,0,48,0,1,1,1,NaN,4,138,...,1.09375,2.00000,1.202326,1,1,1,1,1,63.223881,NaN
4,1258,0,54,1,1,0,1,NaN,3,150,...,1.09375,1.00000,1.202326,1,1,1,1,1,63.223881,NaN

In [44]:
drops = ["id", "ccf", "lvx1", "lvx2", "lvx3", "lvx4", "lvf", "cathef", "junk","ekgmo", "ekgday", "proto", "dig", "prop", "nitr", "pro", "diuretic", "thalsev", "cmo", "cday", "num", "lmt", "ladprox", "laddist", "diag","cxmain", "ramus", "om1", "om2", "rcaprox", "rcadist"]
tdf = tdf.drop(drops, axis=1)
tdf.head()

,age,sex,painloc,painexer,relrest,pncaden,cp,trestbps,htn,chol,...,restckm,exerckm,restef,restwm,exeref,exerwm,thal,thalpul,earlobe,cyr
0,40,1,1,0,0,NaN,2,140,0,289.000000,...,NaN,NaN,NaN,0,NaN,0,4.944882,0.302326,NaN,84
1,49,0,1,0,0,NaN,3,160,1,180.000000,...,NaN,NaN,NaN,0,NaN,0,4.944882,0.302326,NaN,84
2,37,1,1,0,0,NaN,2,130,0,283.000000,...,NaN,NaN,NaN,0,NaN,0,4.944882,0.302326,NaN,84
3,48,0,1,1,1,NaN,4,138,0,214.000000,...,NaN,NaN,NaN,0,NaN,0,4.944882,0.302326,NaN,84
4,54,1,1,0,1,NaN,3,150,0,204.473373,...,NaN,NaN,NaN,0,NaN,0,4.944882,0.302326,NaN,84