In [102]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pprint import pprint as pp
import csv
import datetime
from dateutil.parser import parse
from pandas.tools.plotting import scatter_matrix
from patsy import dmatrices
import statsmodels.formula.api as smf
from sklearn import cross_validation
from sklearn import datasets
from sklearn import svm
import seaborn as sns
import statsmodels.api as sm
import matplotlib as mpl
from numpy.random import randn
from scipy import stats
from pprint import pprint as pp
from sklearn.cross_validation import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import precision_recall_fscore_support
from sklearn.metrics import roc_curve, auc
from sklearn.naive_bayes import GaussianNB
from sklearn.learning_curve import learning_curve
from sklearn.cross_validation import cross_val_score
import urllib2
from pandas import Series
from pandas import merge, concat
%matplotlib inline

sns.set_palette("deep", desat=.8)
sns.set_context(rc={"figure.figsize": (14, 8)})

In [103]:
url           = "https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/cleveland.data"

newrl         = urllib2.urlopen(url)
newdata_df    = pd.read_csv(newrl, header=-1)

newdata_df.head()

                          0
0         1 0 63 1 -9 -9 -9
1   -9 1 145 1 233 -9 50 20
2         1 -9 1 2 2 3 81 0
3       0 0 0 0 1 10.5 6 13
4  150 60 190 90 145 85 0 0

In [104]:
cleve_url = "https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/cleveland.data"
newrl = urllib2.urlopen(cleve_url)
colus = list(range(1,15))
cleve_df = pd.read_csv("switz.data", header=None, delimiter="name\n")
# id_data = cleve_df[0].str.strip("[]").str.split(",").tolist()
# df_id = pd.DataFrame(id_data, columns=colus, index=cleve_df.index, dtype=int)
# cleve_df = cleve_df.join(df_id)
cleve_df.columns = ["name"]
r1 = cleve_df[0::10]
r2 = cleve_df[1::10]
r3 = cleve_df[2::10]
r4 = cleve_df[3::10]
r5 = cleve_df[4::10]
r6 = cleve_df[5::10]
r7 = cleve_df[6::10]
r8 = cleve_df[7::10]
r9 = cleve_df[8::10]
r10 = cleve_df[9::10]
# cleve_df

In [105]:
cleve_url = "https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/cleveland.data"
newrl = urllib2.urlopen(cleve_url)
cleve_df = pd.read_csv(newrl, header=None)
# cleve_df = read_table(newrl, index_col=[0,1,2])
cleve_df.head()

                          0
0         1 0 63 1 -9 -9 -9
1   -9 1 145 1 233 -9 50 20
2         1 -9 1 2 2 3 81 0
3       0 0 0 0 1 10.5 6 13
4  150 60 190 90 145 85 0 0

In [408]:
tdf = pd.read_csv("total2.csv")
tdf = tdf.replace(-9, np.nan)
tdf = tdf.fillna(tdf.mean())
tdf["num"] = tdf["num"].replace(2,1).replace(3,1).replace(4,1)
drops = ["painloc", "location", "painexer","relrest", "smoke", "rldv5", "id", "ccf", "lvx1", "pncaden", "exeref", "earlobe", "thalpul", "exerwm", "restwm", "exerckm", "restckm", "restef", "lvx2", "lvx3", "lvx4", "lvf", "cathef", "junk","ekgmo", "ekgday", "proto", "dig", "prop", "nitr", "pro", "diuretic", "thalsev", "cmo", "cday", "lmt", "ladprox", "laddist", "diag","cxmain", "ramus", "om1", "om2", "rcaprox", "rcadist"]
tdf = tdf.drop(drops, axis=1)
cols = tdf.columns.tolist()
cols = cols[-1:] + cols[:-1]
tdf = tdf[cols]

# tdf.describe()
tdf.head(10)
# tdf.mode()
# tdf.shape
# tdf.mean()
# tdf.dtypes

,num,location,age,sex,cp,trestbps,htn,chol,cigs,years,...,dummy,trestbpd,exang,xhypo,oldpeak,slope,rldv5e,ca,thal,cyr
0,0,hungary,40,1,2,140,0,289.000000,19.118998,18.796574,...,140,86,0,0,0.0,1.766497,20,0.697595,5.018957,84
1,1,hungary,49,0,3,160,1,180.000000,19.118998,18.796574,...,160,90,0,0,1.0,2.000000,13,0.697595,5.018957,84
2,0,hungary,37,1,2,130,0,283.000000,19.118998,18.796574,...,130,80,0,0,0.0,1.766497,14,0.697595,5.018957,84
3,1,hungary,48,0,4,138,0,214.000000,19.118998,18.796574,...,138,86,1,0,1.5,2.000000,22,0.697595,5.018957,84
4,0,hungary,54,1,3,150,0,198.759494,19.118998,18.796574,...,150,90,0,1,0.0,1.766497,9,0.697595,5.018957,84
5,0,hungary,39,1,3,120,0,339.000000,19.118998,18.796574,...,120,80,0,0,0.0,1.766497,21,0.697595,5.018957,84
6,0,hungary,45,0,2,130,0,237.000000,19.118998,18.796574,...,130,84,0,0,0.0,1.766497,11,0.697595,5.018957,84
7,0,hungary,54,1,2,110,0,208.000000,19.118998,18.796574,...,110,70,0,0,0.0,1.766497,11,0.697595,5.018957,84
8,1,hungary,37,1,4,140,1,207.000000,19.118998,18.796574,...,140,80,1,0,1.5,2.000000,19,0.697595,5.018957,85
9,0,hungary,48,0,2,120,0,284.000000,19.118998,18.796574,...,120,80,0,0,0.0,1.766497,6,0.697595,5.018957,85

In [409]:
x_all = tdf.iloc[:,1:]
y_all = tdf.iloc[:,0]
tdf.head()
y_all.head()
# x_all.head()

0    0
1    1
2    0
3    1
4    0
Name: num, dtype: int64

In [410]:
x_scaled = preprocessing.scale(x_all)

/usr/local/lib/python2.7/site-packages/sklearn/utils/validation.py:493: UserWarning: The scale function assumes floating point values as input, got object
  "got %s" % (estimator, X.dtype))

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [382]:
train, test = train_test_split(tdf, train_size = 0.8)
x_train  = train.iloc[:,1:]
y_train  = train.iloc[:,0]
x_test   = test.iloc[:,1:]
y_test   = test.iloc[:,0]

In [405]:
model = LogisticRegression()
avg_acc = np.mean(cross_val_score(model, x_scaled, y_all, scoring='recall'))
avg_precision = np.mean(cross_val_score(model, x_scaled, y_all, scoring='precision'))
avg_recall = np.mean(cross_val_score(model, x_scaled, y_all, scoring='recall'))
avg_f1 = np.mean(cross_val_score(model, x_scaled, y_all, scoring='f1'))
print "Accuracy: %f" % avg_acc
print "Precision: %f" % avg_precision
print "Recall: %f" % avg_recall
print "F1: %f" % avg_f1

Accuracy: 0.674747
Precision: 0.869305
Recall: 0.674747
F1: 0.723383

In [404]:
model = GaussianNB()
avg_acc = np.mean(cross_val_score(model, x_scaled, y_all, scoring='recall'))
avg_precision = np.mean(cross_val_score(model, x_scaled, y_all, scoring='precision'))
avg_recall = np.mean(cross_val_score(model, x_scaled, y_all, scoring='recall'))
avg_f1 = np.mean(cross_val_score(model, x_scaled, y_all, scoring='f1'))
print "Accuracy: %f" % avg_acc
print "Precision: %f" % avg_precision
print "Recall: %f" % avg_recall
print "F1: %f" % avg_f1

Accuracy: 0.565657
Precision: 0.876463
Recall: 0.565657
F1: 0.627062

In [402]:
model = DecisionTreeClassifier(max_depth=6)
avg_acc = np.mean(cross_val_score(model, x_all, y_all, scoring='recall'))
avg_precision = np.mean(cross_val_score(model, x_all, y_all, scoring='precision'))
avg_recall = np.mean(cross_val_score(model, x_all, y_all, scoring='recall'))
avg_f1 = np.mean(cross_val_score(model, x_all, y_all, scoring='f1'))
print "Accuracy: %f" % avg_acc
print "Precision: %f" % avg_precision
print "Recall: %f" % avg_recall
print "F1: %f" % avg_f1

Accuracy: 0.767677
Precision: 0.791474
Recall: 0.773737
F1: 0.741635

In [395]:
model = RandomForestClassifier()
avg_acc = np.mean(cross_val_score(model, x_all, y_all, scoring='recall'))
avg_precision = np.mean(cross_val_score(model, x_all, y_all, scoring='precision'))
avg_recall = np.mean(cross_val_score(model, x_all, y_all, scoring='recall'))
avg_f1 = np.mean(cross_val_score(model, x_all, y_all, scoring='f1'))
print "Accuracy: %f" % avg_acc
print "Precision: %f" % avg_precision
print "Recall: %f" % avg_recall
print "F1: %f" % avg_f1

Accuracy: 0.624242
Precision: 0.853849
Recall: 0.632323
F1: 0.662117

In [394]:
model = KNeighborsClassifier(n_neighbors=11)
avg_acc = np.mean(cross_val_score(model, x_scaled, y_all, scoring='recall'))
avg_precision = np.mean(cross_val_score(model, x_scaled, y_all, scoring='precision'))
avg_recall = np.mean(cross_val_score(model, x_scaled, y_all, scoring='recall'))
avg_f1 = np.mean(cross_val_score(model, x_scaled, y_all, scoring='f1'))
print "Accuracy: %f" % avg_acc
print "Precision: %f" % avg_precision
print "Recall: %f" % avg_recall
print "F1: %f" % avg_f1

Accuracy: 0.723232
Precision: 0.845777
Recall: 0.723232
F1: 0.752443

In [406]:
model = SVC()
avg_acc = np.mean(cross_val_score(model, x_scaled, y_all, scoring='recall'))
avg_precision = np.mean(cross_val_score(model, x_scaled, y_all, scoring='precision'))
avg_recall = np.mean(cross_val_score(model, x_scaled, y_all, scoring='recall'))
avg_f1 = np.mean(cross_val_score(model, x_scaled, y_all, scoring='f1'))
print "Accuracy: %f" % avg_acc
print "Precision: %f" % avg_precision
print "Recall: %f" % avg_recall
print "F1: %f" % avg_f1

Accuracy: 0.777778
Precision: 0.849546
Recall: 0.777778
F1: 0.797781