In [66]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pprint import pprint as pp
import csv
import datetime
from dateutil.parser import parse
from pandas.tools.plotting import scatter_matrix
from patsy import dmatrices
import statsmodels.formula.api as smf
from sklearn import cross_validation
from sklearn import datasets
from sklearn import svm
import seaborn as sns
import statsmodels.api as sm
import matplotlib as mpl
from numpy.random import randn
from scipy import stats
from pprint import pprint as pp
from sklearn.cross_validation import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import precision_recall_fscore_support
from sklearn.metrics import roc_curve, auc
from sklearn.naive_bayes import GaussianNB
from sklearn.learning_curve import learning_curve
from sklearn.cross_validation import cross_val_score
from sklearn import metrics, preprocessing
from IPython.display import display
import urllib2
from pandas import Series
from pandas import merge, concat
%matplotlib inline

sns.set_palette("deep", desat=.8)
sns.set_context(rc={"figure.figsize": (14, 8)})

In [67]:
url           = "https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/cleveland.data"

newrl         = urllib2.urlopen(url)
newdata_df    = pd.read_csv(newrl, header=-1)

newdata_df.head()

                          0
0         1 0 63 1 -9 -9 -9
1   -9 1 145 1 233 -9 50 20
2         1 -9 1 2 2 3 81 0
3       0 0 0 0 1 10.5 6 13
4  150 60 190 90 145 85 0 0

In [68]:
cleve_url = "https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/cleveland.data"
newrl = urllib2.urlopen(cleve_url)
colus = list(range(1,15))
cleve_df = pd.read_csv("switz.data", header=None, delimiter="name\n")
# id_data = cleve_df[0].str.strip("[]").str.split(",").tolist()
# df_id = pd.DataFrame(id_data, columns=colus, index=cleve_df.index, dtype=int)
# cleve_df = cleve_df.join(df_id)
cleve_df.columns = ["name"]
r1 = cleve_df[0::10]
r2 = cleve_df[1::10]
r3 = cleve_df[2::10]
r4 = cleve_df[3::10]
r5 = cleve_df[4::10]
r6 = cleve_df[5::10]
r7 = cleve_df[6::10]
r8 = cleve_df[7::10]
r9 = cleve_df[8::10]
r10 = cleve_df[9::10]
# cleve_df

In [69]:
cleve_url = "https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/cleveland.data"
newrl = urllib2.urlopen(cleve_url)
cleve_df = pd.read_csv(newrl, header=None)
# cleve_df = read_table(newrl, index_col=[0,1,2])
cleve_df.head()

                          0
0         1 0 63 1 -9 -9 -9
1   -9 1 145 1 233 -9 50 20
2         1 -9 1 2 2 3 81 0
3       0 0 0 0 1 10.5 6 13
4  150 60 190 90 145 85 0 0

In [79]:
def all_models(df):
    models = [LogisticRegression(), GaussianNB(), DecisionTreeClassifier(max_depth=6), RandomForestClassifier(), KNeighborsClassifier(n_neighbors=11), SVC()]
    data = []
    x_all = df.iloc[:,1:]
    y_all = df.iloc[:,0]
    x_scaled = preprocessing.scale(x_all)
    for model in models:
        m = model
        avg_acc = np.mean(cross_val_score(m, x_scaled, y_all, scoring='recall'))
        avg_prec = np.mean(cross_val_score(m, x_scaled, y_all, scoring='precision'))
        avg_rec = np.mean(cross_val_score(m, x_scaled, y_all, scoring='recall'))
        avg_f1 = np.mean(cross_val_score(m, x_scaled, y_all, scoring='f1'))
        
        data.append([avg_acc,avg_prec,avg_rec,avg_f1])
    index=['Logistic', 'Gaussian', 'DecisionTree', 'RandomForest', 'KNN', 'SVC']
    columns = ['accuracy', 'precision', 'recall', 'F1']
    df = pd.DataFrame(data, index=index, columns=columns)
    return df

def create_df(filename):
    df = pd.read_csv(filename)
    df = df.replace(-9, np.nan)
    df = df.fillna(df.mean())
    df["num"] = df["num"].replace(2,1).replace(3,1).replace(4,1)
    drops = ["painloc", "painexer","years", "relrest", "smoke", "rldv5", "id", "ccf", "lvx1", "pncaden", "exeref", "earlobe", "thalpul", "exerwm", "restwm", "exerckm", "restckm", "restef", "lvx2", "lvx3", "lvx4", "lvf", "cathef", "junk","ekgmo", "ekgday", "proto", "dig", "prop", "nitr", "pro", "diuretic", "thalsev", "cmo", "cday", "lmt", "ladprox", "laddist", "diag","cxmain", "ramus", "om1", "om2", "rcaprox", "rcadist"]
    df = df.drop(drops, axis=1)
    cols = df.columns.tolist()
    cols = cols[-1:] + cols[:-1]
    df = df[cols]
    return df

def loc_dummies(df):
    dummies = pd.get_dummies(df['location'])
    atom_col = [c for c in dummies.columns if '*' not in c]
    for col in atom_col:
        df[col] = dummies[[c for c in dummies.columns if col in c]].sum(axis=1)
    df.drop(["location"], axis=1)
    return df

In [77]:
chdf = create_df("ch.csv")
# hungdf = create_df("hung.csv")
# lbdf = create_df("longbeach.csv")
# clevedf = create_df("cleve.csv")
# combineddf = create_df("total2.csv")


# chdf = loc_dummies(chdf)
# hungdf = loc_dummies(hungdf)
# lbdf = loc_dummies(lbdf)
# clevedf = loc_dummies(clevedf)
# combineddf = combineddf.drop(["location"], axis=1)


# ch_scores = all_models(chdf)
# hung_scores = all_models(hungdf)
# lb_scores = all_models(lbdf)
# cleve_scores = all_models(clevedf)
# combined_scores = all_models(combineddf)

print "Switzerland:"
# display(ch_scores)
chdf.head(10)
chdf.describe()
# print "Hungary:"
# display(hung_scores)
# print "Longbeach:"
# display(lb_scores)
# print "Cleveland:"
# display(cleve_scores)
# print "Combined:"
# display(combined_scores)

Switzerland:

,num,age,sex,cp,trestbps,htn,chol,cigs,fbs,dm,...,dummy,trestbpd,exang,xhypo,oldpeak,slope,rldv5e,ca,thal,cyr
count,123.000000,123.000000,123.000000,123.000000,123.000000,123.000000,123,123.000000,123.000000,123,...,123.000000,123.000000,123.000000,123.000000,123.000000,123.000000,123.000000,123.000000,123.000000,123.000000
mean,0.934959,55.317073,0.918699,3.699187,130.206612,0.354839,0,25.454545,0.104167,1,...,130.206612,81.942149,0.442623,0.058333,0.653846,1.801887,14.739130,1.600000,5.698630,84.596491
std,0.247606,9.032108,0.274414,0.688726,22.373476,0.417745,0,2.674603,0.191610,0,...,22.373476,11.296523,0.496697,0.232444,1.029765,0.578577,3.374045,0.099177,1.388978,0.568566
min,0.000000,32.000000,0.000000,1.000000,80.000000,0.000000,0,20.000000,0.000000,1,...,80.000000,60.000000,0.000000,0.000000,-2.600000,1.000000,6.000000,1.000000,1.000000,82.000000
25%,1.000000,51.000000,1.000000,4.000000,115.000000,0.000000,0,25.454545,0.000000,1,...,115.000000,75.000000,0.000000,0.000000,0.000000,1.000000,14.739130,1.600000,5.698630,84.000000
50%,1.000000,56.000000,1.000000,4.000000,130.000000,0.354839,0,25.454545,0.104167,1,...,130.000000,80.000000,0.000000,0.000000,0.500000,2.000000,14.739130,1.600000,5.698630,85.000000
75%,1.000000,61.500000,1.000000,4.000000,145.000000,1.000000,0,25.454545,0.104167,1,...,145.000000,90.000000,1.000000,0.000000,1.450000,2.000000,14.739130,1.600000,7.000000,85.000000
max,1.000000,74.000000,1.000000,4.000000,200.000000,1.000000,0,40.000000,1.000000,1,...,200.000000,120.000000,1.000000,1.000000,3.700000,3.000000,27.000000,2.000000,7.000000,87.000000

In [87]:
chdf = create_df("ch.csv")
chdf.describe()

,junk,id,ccf,age,sex,painloc,painexer,relrest,pncaden,cp,...,om1,om2,rcaprox,rcadist,lvx1,lvx2,lvx3,lvx4,lvf,cathef
count,0,123.000000,123,123.000000,123.000000,123.000000,123.000000,123.000000,0,123.000000,...,123.000000,123.000000,123.000000,123.000000,123.000000,123.000000,123.000000,123.000000,123.000000,123.000000
mean,NaN,3625.886179,0,55.317073,0.918699,0.910569,0.821138,0.780488,NaN,3.699187,...,1.089431,1.056911,1.422764,1.235772,1.169811,1.122642,1.245283,1.518868,1.490909,63.924528
std,NaN,499.271374,0,9.032108,0.274414,0.286532,0.384804,0.415609,NaN,0.688726,...,0.286532,0.232619,0.496019,0.426217,0.729605,0.697805,0.956525,1.432819,0.686467,8.405402
min,NaN,3001.000000,0,32.000000,0.000000,0.000000,0.000000,0.000000,NaN,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,36.000000
25%,NaN,3031.500000,0,51.000000,1.000000,1.000000,1.000000,1.000000,NaN,4.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,60.000000
50%,NaN,4012.000000,0,56.000000,1.000000,1.000000,1.000000,1.000000,NaN,4.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,63.924528
75%,NaN,4042.500000,0,61.500000,1.000000,1.000000,1.000000,1.000000,NaN,4.000000,...,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,69.000000
max,NaN,4074.000000,0,74.000000,1.000000,1.000000,1.000000,1.000000,NaN,4.000000,...,2.000000,2.000000,2.000000,2.000000,7.000000,7.000000,7.000000,8.000000,4.000000,86.000000

              accuracy  precision    recall        F1
Logistic      0.766357   0.807442  0.766357  0.772645
Gaussian      0.584785   0.815051  0.584785  0.634432
DecisionTree  0.695509   0.691301  0.727062  0.675084
RandomForest  0.646535   0.739625  0.686605  0.752116
KNN           0.751452   0.771996  0.751452  0.760358
SVC           0.750678   0.804160  0.750678  0.768177

              accuracy  precision    recall        F1
Logistic      0.674747   0.871909  0.674747  0.724275
Gaussian      0.557576   0.893875  0.557576  0.623950
DecisionTree  0.737374   0.803353  0.747475  0.740211
RandomForest  0.638384   0.826791  0.600000  0.691459
KNN           0.739394   0.845990  0.739394  0.766355
SVC           0.773737   0.852577  0.773737  0.796584

In [ ]:
train, test = train_test_split(tdf, train_size = 0.8)
x_train  = train.iloc[:,1:]
y_train  = train.iloc[:,0]
x_test   = test.iloc[:,1:]
y_test   = test.iloc[:,0]

In [ ]:
model = LogisticRegression()
avg_acc = np.mean(cross_val_score(model, x_scaled, y_all, scoring='recall'))
avg_precision = np.mean(cross_val_score(model, x_scaled, y_all, scoring='precision'))
avg_recall = np.mean(cross_val_score(model, x_scaled, y_all, scoring='recall'))
avg_f1 = np.mean(cross_val_score(model, x_scaled, y_all, scoring='f1'))
print "Accuracy: %f" % avg_acc
print "Precision: %f" % avg_precision
print "Recall: %f" % avg_recall
print "F1: %f" % avg_f1

In [ ]:
model = GaussianNB()
avg_acc = np.mean(cross_val_score(model, x_scaled, y_all, scoring='recall'))
avg_precision = np.mean(cross_val_score(model, x_scaled, y_all, scoring='precision'))
avg_recall = np.mean(cross_val_score(model, x_scaled, y_all, scoring='recall'))
avg_f1 = np.mean(cross_val_score(model, x_scaled, y_all, scoring='f1'))
print "Accuracy: %f" % avg_acc
print "Precision: %f" % avg_precision
print "Recall: %f" % avg_recall
print "F1: %f" % avg_f1

In [ ]:
model = DecisionTreeClassifier(max_depth=6)
avg_acc = np.mean(cross_val_score(model, x_scaled, y_all, scoring='recall'))
avg_precision = np.mean(cross_val_score(model, x_scaled, y_all, scoring='precision'))
avg_recall = np.mean(cross_val_score(model, x_scaled, y_all, scoring='recall'))
avg_f1 = np.mean(cross_val_score(model, x_scaled, y_all, scoring='f1'))
print "Accuracy: %f" % avg_acc
print "Precision: %f" % avg_precision
print "Recall: %f" % avg_recall
print "F1: %f" % avg_f1

In [ ]:
model = RandomForestClassifier()
avg_acc = np.mean(cross_val_score(model, x_all, y_all, scoring='recall'))
avg_precision = np.mean(cross_val_score(model, x_all, y_all, scoring='precision'))
avg_recall = np.mean(cross_val_score(model, x_all, y_all, scoring='recall'))
avg_f1 = np.mean(cross_val_score(model, x_all, y_all, scoring='f1'))
print "Accuracy: %f" % avg_acc
print "Precision: %f" % avg_precision
print "Recall: %f" % avg_recall
print "F1: %f" % avg_f1

In [ ]:
model = KNeighborsClassifier(n_neighbors=11)
avg_acc = np.mean(cross_val_score(model, x_scaled, y_all, scoring='recall'))
avg_precision = np.mean(cross_val_score(model, x_scaled, y_all, scoring='precision'))
avg_recall = np.mean(cross_val_score(model, x_scaled, y_all, scoring='recall'))
avg_f1 = np.mean(cross_val_score(model, x_scaled, y_all, scoring='f1'))
print "Accuracy: %f" % avg_acc
print "Precision: %f" % avg_precision
print "Recall: %f" % avg_recall
print "F1: %f" % avg_f1

In [ ]:
model = SVC()
avg_acc = np.mean(cross_val_score(model, x_scaled, y_all, scoring='recall'))
avg_precision = np.mean(cross_val_score(model, x_scaled, y_all, scoring='precision'))
avg_recall = np.mean(cross_val_score(model, x_scaled, y_all, scoring='recall'))
avg_f1 = np.mean(cross_val_score(model, x_scaled, y_all, scoring='f1'))
print "Accuracy: %f" % avg_acc
print "Precision: %f" % avg_precision
print "Recall: %f" % avg_recall
print "F1: %f" % avg_f1